[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[Trash]
row=0
col=0

[File System]
row=1
col=0

[/home/computeruse]
row=2
col=0

[/home/computeruse/Desktop/term.desktop]
row=3
col=0

[/home/computeruse/Desktop/vscode.desktop]
row=4
col=0

[/home/computeruse/Desktop/firefox.desktop]
row=0
col=1

[/home/computeruse/Desktop/files.desktop]
row=1
col=1

[/home/computeruse/Desktop/mahjongg.desktop]
row=2
col=1

[/home/computeruse/Desktop/calc.desktop]
row=3
col=1

[/home/computeruse/Desktop/vlc.desktop]
row=4
col=1

[/home/computeruse/Desktop/gimp.desktop]
row=0
col=2
